body {
	color: #630E0D;
	font: 12px Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}
a:link {
	color: #660033;
	text-decoration: underline;
}
normal {
	color: #009999;
	font: 12px Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}